/* Estilos globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden; /* Evita el scroll horizontal */
}

/* Estilos del header */
header {
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  height: 100vh;
  padding: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Estilos de navegación */
nav {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

.nav-bar {
  display: flex;
  background-color: rgba(66, 92, 112, 0.8);
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  border: 1px solid transparent;
  transition: border 0.3s;
}

nav a:hover {
  border: 1px solid white;
}

/* Ajusta la opacidad de las secciones */
section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: #8e9eab;
  opacity: 0.5;
  transition: opacity 0.5s;
}

section h2 {
  margin-bottom: 30px;
  font-size: 32px;
  color: #333;
}

section p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  max-width: 900px;
  text-align: center;
}

section.active {
  opacity: 1;
}

/* Ajustes de container */
.container {
  width: 95%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}

/* Ajustes de imagen */
img {
  display: block;
  height: 400px;
  object-fit: cover;
  animation: arriba 1s ease-in;
}

/* Ajustes de textos */
.textos {
  width: 50%;
  color: white;
}

.textos h1 {
  font-size: 50px;
  font-weight: 300;
  animation: moverDerecha 1s ease-in;
}

.textos h2 {
  font-size: 30px;
  font-weight: 300;
  animation: moverIzquierda 1s ease-in;
}

.textos a {
  display: inline-block;
  color: white;
  font-weight: 300;
  text-decoration: none;
  margin-top: 30px;
  border: 1px solid white;
  width: 150px;
  border-radius: 3px;
  text-align: center;
  padding: 10px 0;
  animation: arriba 1s ease-in;
}

.fa-brands,
.fa-regular {
  color: #0c0e0db6;
  margin-right: 8px;
  font-size: 1.5em;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* Estilos para los encabezados de contacto */
.contact-title {
  font-size: 32px;
  color: #333;
  text-align: center;
  margin: 40px 0 20px; /* Combina márgenes superior e inferior */
}

/* Estilos para el contenedor del formulario y redes sociales */
.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Cambiado a flex-start para alinear arriba */
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 20px; /* Reduce el padding general */
}
.social-container h3,
.contact-container h3,
.form-container h3,
form h3 {
  margin: 5px 0 20px; /* Combina márgenes */
  font-family: "Poppins", sans-serif;
  color: #333;
  opacity: 1;
}

.form-container {
  width: 45%; /* Mantiene el ancho del formulario */
}

.social-container {
  width: 45%;
  display: flex;
  flex-direction: column; /* Asegura que los elementos estén en columna */
  align-items: center; /* Centra horizontalmente los elementos */
  justify-content: center; /* Centra verticalmente */
  height: 100%; /* Ocupa el 100% de la altura del contenedor */
  text-align: center; /* Centra el texto dentro del contenedor */
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px; /* Mantiene el espacio entre los elementos del formulario */
  width: 70%; /* Cambiado a 70% para hacerlo más pequeño */
  max-width: 400px; /* Cambiado a 400px para limitar su tamaño máximo */
  margin: 0 auto; /* Centra el formulario */
  font-family: "Poppins", sans-serif;
}

/* Estilo para los campos de entrada (input, textarea) */
input[type="text"],
input[type="email"],
textarea {
  padding: 10px; /* Reduce el padding para hacerlos más compactos */
  font-size: 14px; /* Reduce el tamaño de fuente */
  border: 2px solid #ccc; /* Borde gris */
  border-radius: 5px; /* Bordes redondeados */
  width: 100%; /* Asegúrate de que ocupe el 100% de su contenedor */
  box-sizing: border-box; /* Asegura que el padding y el borde estén incluidos en el ancho total */
}

/* Al hacer foco en el campo */
input:focus {
  border-color: #2c5364; /* Cambia el color del borde al hacer foco */
  outline: none; /* Elimina el contorno por defecto */
}

/* Estilo para el textarea (campo de mensaje) */
textarea {
  height: 150px; /* Altura ajustada */
  resize: none; /* Evita que el usuario cambie el tamaño */
  font-family: "Poppins", sans-serif;
}

/* Estilo para el botón de envío */
button {
  padding: 15px;
  font-size: 16px;
  background-color: #2c5364; /* Color de fondo del botón */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Efecto hover para el botón */
button:hover {
  background-color: #203a43; /* Color del botón al pasar el ratón */
}

/* Animaciones */
@keyframes moverIzquierda {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moverDerecha {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes arriba {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@media screen and (max-width: 800px) {
  /* Asegúrate de que el body y html ocupen el 100% de la pantalla */
  html,
  body {
    height: 100%; /* Hace que el body y html ocupen el 100% de la altura de la ventana */
    margin: 0; /* Elimina márgenes */
  }

  header {
    padding: 20px;
    height: 100vh; /* Asegura que el header ocupe el 100% de la altura de la ventana */
    display: flex; /* Usar flexbox para centrar contenido */
    flex-direction: column-reverse; /* Coloca el contenido en columna */
    justify-content: center; /* Centra verticalmente el contenido */
    align-items: center; /* Centra horizontalmente el contenido */
    width: 100%; /* Ocupar el 100% del ancho */
  }

  .container {
    display: flex;
    flex-direction: column; /* Asegúrate de que los elementos se apilen verticalmente */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    width: 100%; /* Ocupar el 100% del ancho */
    height: 100%; /* Ocupar el 100% de la altura */
  }

  .textos {
    width: 100%; /* Asegúrate de que el texto ocupe todo el ancho */
    text-align: center; /* Centra el texto */
  }

  img {
    max-width: 80%; /* Asegúrate de que la imagen no ocupe demasiado espacio */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-top: 20px; /* Espacio superior */
  }

  .textos h1 {
    font-size: 28px; /* Reduce el tamaño del título principal */
  }

  .textos h2 {
    font-size: 16px; /* Ajusta el subtítulo a un tamaño más pequeño */
  }

  .textos a {
    padding: 10px; /* Padding para el enlace */
    border-radius: 5px; /* Bordes redondeados para el enlace */
    font-size: 14px; /* Ajusta el tamaño de la fuente para los enlaces */
  }

  nav {
    top: 10px;
    left: 10px;
  }

  .nav-bar {
    flex-direction: row; /* Mantiene el menú en horizontal */
    justify-content: center; /* Centra el menú si es necesario */
    padding: 5px 10px; /* Reduce el padding del contenedor de navegación */
  }

  nav a {
    padding: 5px 10px; /* Ajusta el padding de los enlaces para hacerlos más compactos */
    font-size: 10px; /* Reduce el tamaño de la fuente */
  }

  /* Ajustes en las secciones */
  section {
    padding: 20px;
    width: 100%; /* Asegúrate de que ocupe todo el ancho */
  }

  section h2 {
    font-size: 20px; /* Reduce el tamaño del título de las secciones */
  }

  section p {
    font-size: 14px; /* Reduce el tamaño del texto en los párrafos */
  }

  /* Estilo para la sección de Contacto */
  .contact-container {
    display: flex;
    flex-direction: column; /* Cambia a columna para que el formulario esté arriba */
    align-items: center;
    background-color: #8e9eab;
    padding: 20px;
    width: 100%;
  }

  .contact-title {
    font-size: 20px; /* Reduce el tamaño del título de la sección de Contacto */
  }

  .contact-container h3,
  .form-container h3,
  .social-container h3 {
    font-size: 15px; /* Aumenta el tamaño de los subtítulos */
  }

  .form-container {
    width: 90%; /* Aumenta el ancho del formulario */
    margin-bottom: 20px; /* Agrega margen abajo del formulario */
  }

  .social-container {
    width: 90%; /* Aumenta el ancho del contenedor de redes sociales */
    align-items: center;
    text-align: center;
    background-color: #8e9eab;
  }

  form {
    width: 100%; /* Asegúrate que el formulario ocupe todo el ancho disponible */
  }

  /* Ajusta el tamaño del texto de los campos de entrada */
  input[type="text"],
  input[type="email"],
  textarea {
    font-size: 14px; /* Tamaño de la fuente en campos de entrada */
  }

  button {
    font-size: 14px; /* Ajusta el tamaño del texto del botón */
    padding: 10px 0; /* Padding del botón */
    border-radius: 3px;
  }
}

@media screen and (max-width: 350px) {
  .textos h1 {
    font-size: 20px; /* Reduce aún más el tamaño del título principal */
  }

  .textos h2 {
    font-size: 14px; /* Ajusta el subtítulo a un tamaño más pequeño */
  }

  .textos a {
    font-size: 10px; /* Reduce el tamaño de la fuente para los enlaces */
    padding: 5px; /* Agrega algo de espacio alrededor del enlace */
  }

  img {
    max-width: 80%; /* Asegúrate de que la imagen no ocupe demasiado espacio */
    margin-top: 10px; /* Reduce el margen superior */
  }

  .nav-bar {
    padding: 2px 5px; /* Reduce el padding del contenedor de navegación */
  }

  nav a {
    padding: 5px; /* Ajusta el padding de los enlaces de navegación */
    font-size: 8px; /* Reduce aún más el tamaño de la fuente */
  }

  /* Ajustes en las secciones */
  section h2 {
    font-size: 18px; /* Reduce el tamaño del título de las secciones */
  }

  section p {
    font-size: 12px; /* Reduce el tamaño del texto en los párrafos */
  }

  /* Ajustes en la sección de Contacto */
  .contact-title {
    font-size: 16px; /* Reduce el tamaño del título de la sección de Contacto */
  }

  .contact-container h3,
  .form-container h3,
  .social-container h3 {
    font-size: 12px; /* Ajusta el tamaño de los subtítulos */
  }

  .form-container {
    width: 100%; /* Asegúrate de que el formulario ocupe todo el ancho disponible */
  }

  /* Ajusta el tamaño del texto de los campos de entrada */
  input[type="text"],
  input[type="email"],
  textarea {
    font-size: 12px; /* Tamaño de la fuente en campos de entrada */
  }

  button {
    font-size: 12px; /* Ajusta el tamaño del texto del botón */
    padding: 5px; /* Ajusta el padding del botón */
  }
}

@media screen and (max-width: 350px) {
  .textos h1 {
    font-size: 20px; /* Reduce aún más el tamaño del título principal */
  }

  .textos h2 {
    font-size: 14px; /* Ajusta el subtítulo a un tamaño más pequeño */
  }

  .textos a {
    font-size: 10px; /* Reduce el tamaño de la fuente para los enlaces */
    padding: 5px; /* Agrega algo de espacio alrededor del enlace */
  }

  img {
    max-width: 80%; /* Asegúrate de que la imagen no ocupe demasiado espacio */
    margin-top: 10px; /* Reduce el margen superior */
  }

  .nav-bar {
    padding: 2px 5px; /* Reduce el padding del contenedor de navegación */
  }

  nav a {
    padding: 5px; /* Ajusta el padding de los enlaces de navegación */
    font-size: 8px; /* Reduce aún más el tamaño de la fuente */
  }

  /* Ajustes en las secciones */
  section h2 {
    font-size: 18px; /* Reduce el tamaño del título de las secciones */
  }

  section p {
    font-size: 12px; /* Reduce el tamaño del texto en los párrafos */
  }

  /* Ajustes en la sección de Contacto */
  .contact-title {
    font-size: 16px; /* Reduce el tamaño del título de la sección de Contacto */
  }

  .contact-container h3,
  .form-container h3,
  .social-container h3 {
    font-size: 12px; /* Ajusta el tamaño de los subtítulos */
  }

  .form-container {
    width: 100%; /* Asegúrate de que el formulario ocupe todo el ancho disponible */
  }

  /* Ajusta el tamaño del texto de los campos de entrada */
  input[type="text"],
  input[type="email"],
  textarea {
    font-size: 12px; /* Tamaño de la fuente en campos de entrada */
  }

  button {
    font-size: 12px; /* Ajusta el tamaño del texto del botón */
    padding: 5px; /* Ajusta el padding del botón */
  }
}
